---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@src/consts';
import { docsMap } from '@src/utils/navigation';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <pre><code>{JSON.stringify(docsMap, null, 2)}</code></pre>
    </main>
  </body>
</html>
