@import 'tailwindcss';
@import './themes.css';

/***************************************************************
Global Color Palette ===== https://shadcn-svelte.com/themes ====
***************************************************************/
:root {
  /* [Fixed] Font (Inter is the best font) */
  font-family: var(--font-sans), sans-serif;
  font-feature-settings: 'calt', 'ss03', 'cv02', 'cv05', 'cv11';
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* [Tailwind] Color Palette */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* [Tailwind] Custom Colors */
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
}

/***************************************************************
Global Base Layer ==============================================
***************************************************************/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  ::selection {
    @apply bg-selection text-selection-foreground;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground leading-normal text-left text-base m-0 p-0;
    word-wrap: break-word;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-6 mb-4;
    line-height: 1.2;
  }

  h1 {
    @apply text-5xl;

    /* parents have prose and self doesn't have not-prose */
    :where(.prose &):not(:where(.not-prose &)) {
      @apply pb-2.5 border-b-border border-b-2;
    }
  }

  h2 {
    @apply text-3xl;

    /* parents have prose and self doesn't have not-prose */
    :where(.prose &):not(:where(.not-prose &)) {
      @apply pb-1 border-b-border border-b-2;
    }
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply text-primary underline hover:underline;
  }

  p {
    @apply mb-4;
  }

  :not(pre) > code {
    @apply bg-muted text-muted-foreground px-1 py-0.5 rounded-sm;
  }

  blockquote {
    @apply border-l-border pl-5 pr-0 py-0 border-l-4 border-solid;

    &[data-blockquote-type] {
      @apply relative;

      &::before {
        @apply block font-bold ml-5 capitalize text-border;
        content: attr(data-blockquote-type);
      }

      &::after {
        @apply block text-border w-4 h-4 absolute top-1.25 left-5 bg-border;
        -webkit-mask: var(--svg-icon-quote) no-repeat center;
        mask: var(--svg-icon-quote) no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        content: '';
      }
    }

    &[data-blockquote-type='NOTE'] {
      --border: var(--chart-1);
      --svg-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75M8 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    }

    &[data-blockquote-type='TIP'] {
      --border: var(--chart-2);
      --svg-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 1.5c-2.363 0-4 1.69-4 3.75c0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848c.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a9 9 0 0 0-.542-.68l-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25C2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259q-.142.172-.268.319c-.207.245-.383.453-.541.681c-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489c.203-.292.45-.584.673-.848l.213-.253c.561-.679.985-1.32.985-2.304c0-2.06-1.637-3.75-4-3.75M5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5M6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
    }

    &[data-blockquote-type='WARNING'] {
      --border: var(--chart-3);
      --svg-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/svg%3E");
    }
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar {
  scrollbar-color: var(--muted) transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--muted);
  }
}

@utility prose {
  table {
    @apply w-full border-collapse border-spacing-0;

    th,
    td {
      @apply border border-border p-2 align-top;
    }
  }

  ol {
    @apply list-decimal pl-6;
  }

  ul {
    @apply list-disc pl-6;
  }

  kbd {
    @apply inline-flex align-text-top -my-0.5 py-0.5 px-1.5 border text-sm rounded-md;
    box-shadow: 0px 2px 0px var(--color-border);
  }
}
