@import 'tailwindcss';
@import './themes.css';

/***************************************************************
Global Color Palette ===== https://shadcn-svelte.com/themes ====
***************************************************************/
:root {
  /* [Fixed] Font (Inter is the best font) */
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: 'calt', 'ss03', 'cv02', 'cv05', 'cv11';
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* [Tailwind] Color Palette */
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);

  --color-text: var(--text);
  --color-text-bright: var(--text-bright);
  --color-text-muted: var(--text-muted);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-background-code: var(--background-code);
  --color-border: var(--border);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);

  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  /* Set colors (unified colors with modules) */
  --shadow: 0 16px 48px rgba(0, 0, 0, 0.2);
  --backdrop: rgba(0, 0, 0, 0.5);

  /* Layout styles */
  --sidebar-width: 260px;
  --content-max-width: 768px;
}

/***************************************************************
Global Base Layer ==============================================
***************************************************************/
@layer base {
  * {
    @apply border-border outline-link/50;
  }

  html {
    @apply scroll-smooth;
    min-width: 320px;
  }

  body {
    @apply bg-background text-text leading-normal text-left text-base m-0 p-0;
    word-wrap: break-word;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-6 mb-4 text-text-bright;
    line-height: 1.2;
  }

  h1 {
    @apply text-5xl;

    /* parents have prose and self doesn't have not-prose */
    :where(.prose &):not(:where(.not-prose &)) {
      @apply pb-2.5 border-b-border border-b-2;
    }
  }

  h2 {
    @apply text-3xl;

    /* parents have prose and self doesn't have not-prose */
    :where(.prose &):not(:where(.not-prose &)) {
      @apply pb-1 border-b-border border-b-2;
    }
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply text-link;

    &:hover {
      @apply text-link-hover;
    }
  }

  p {
    @apply mb-4;
  }

  :not(pre) > code {
    @apply bg-background-code text-text-muted px-1 py-0.5 rounded-sm;
  }

  blockquote {
    @apply bg-border/20 border-l-border pl-5 pr-0 py-2 border-l-4 border-solid [&>*:last-child]:mb-0 mb-4;

    &[data-blockquote-type] {
      @apply relative;

      &::before {
        @apply block ml-5 font-bold capitalize text-border;
        content: attr(data-blockquote-type);
      }

      &::after {
        @apply absolute top-3.25 left-5 block w-4 h-4 bg-border border-text;
        -webkit-mask: var(--svg-icon-quote) no-repeat center;
        mask: var(--svg-icon-quote) no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        content: '';
      }
    }

    &[data-blockquote-type='NOTE'] {
      --border: var(--color-info);
      --svg-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75M8 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    }

    &[data-blockquote-type='TIP'] {
      --border: var(--color-warning);
      --svg-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 1.5c-2.363 0-4 1.69-4 3.75c0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848c.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a9 9 0 0 0-.542-.68l-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25C2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259q-.142.172-.268.319c-.207.245-.383.453-.541.681c-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489c.203-.292.45-.584.673-.848l.213-.253c.561-.679.985-1.32.985-2.304c0-2.06-1.637-3.75-4-3.75M5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5M6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
    }

    &[data-blockquote-type='WARNING'] {
      --border: var(--color-error);
      --svg-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/svg%3E");
    }
  }
}

/***************************************************************
Utility (CSS class) ============================================
***************************************************************/

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility prose {
  @apply mx-auto max-w-(--content-max-width);

  table {
    @apply w-full border-collapse border-spacing-0;

    th,
    td {
      @apply border border-border p-2 align-top;
    }
  }

  ol {
    @apply list-decimal pl-6;
  }

  ul {
    @apply list-disc pl-6;
  }

  kbd {
    @apply inline-flex align-text-top -my-0.5 py-0.5 px-1.5 border text-sm rounded-md;
    box-shadow: 0px 2px 0px var(--color-border);
  }
}
