---
import { Icon } from 'astro-icon/components';

const className = Astro.props.class || '';
---

<a title="View on GitHub" aria-label="Github Link" class={className} href="https://github.com/UndefinedConcept/330docs">
  <Icon name="mingcute:github-line" />
</a>
