---
import type { HTMLAttributes } from 'astro/types';
import { SITE_BASE } from '@src/consts';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(SITE_BASE, '').replace(/^\//, '').replace(/\/$/, '');
const targetPath = typeof href === 'string' ? href.replace(SITE_BASE, '') : '';
const normalizedTarget = targetPath.replace(/^\//, '').replace(/\/$/, '');
const currentSection = pathname.split('/')[0] || '';
const isActive = normalizedTarget === pathname || normalizedTarget === currentSection;
const resolvedHref =
  typeof href === 'string'
    ? /^(https?:)?\/\//.test(href) || href.startsWith('mailto:')
      ? href
      : `${SITE_BASE}${href}`
    : href;
---

<a href={resolvedHref} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
