---
import { SITE_TITLE, SITE_BASE } from '@src/consts';
import Search from '@components/Search.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
---

<header class="flex items-center justify-between border-b px-6 py-4">
  <a href={`${SITE_BASE}`} class="text-foreground text-xl leading-none font-bold tracking-tight no-underline">
    {SITE_TITLE}
  </a>
  <div class="flex gap-2 text-2xl">
    <!-- theme toggle -->
    <ThemeToggle />
    <!-- navigation options -->
    <Search />
  </div>
</header>
