---
import { Icon } from 'astro-icon/components';
---

<!-- Trigger workaround until pagefind supports custom triggers -->
<div class="text-text hover:text-link-hover flex">
  <slot>
    <button id="custom-pagefind-trigger" class="cursor-pointer text-2xl" aria-label="search">
      <Icon name="mingcute:search-2-line" />
    </button>
    <div class="hidden grow">
      <pagefind-modal-trigger shortcut="/"></pagefind-modal-trigger>
    </div>
  </slot>

  <pagefind-modal>
    <pagefind-modal-header>
      <pagefind-input></pagefind-input>
    </pagefind-modal-header>
    <pagefind-modal-body>
      <pagefind-summary></pagefind-summary>
      <pagefind-results></pagefind-results>
    </pagefind-modal-body>
    <pagefind-modal-footer>
      <pagefind-keyboard-hints></pagefind-keyboard-hints>
    </pagefind-modal-footer>
  </pagefind-modal>
</div>

<script>
  // Opening pagefind modal via custom trigger button
  const searchTrigger = document.getElementById('custom-pagefind-trigger');
  if (searchTrigger) {
    const searchShortcut = new KeyboardEvent('keydown', {
      key: '/',
      code: 'Slash',
      keyCode: 191,
      which: 191,
    });
    searchTrigger.addEventListener('click', () => {
      // Trigger keyboard shortcut for pagefind modal
      console.log('Open search');
      document.dispatchEvent(searchShortcut);
    });
  }

  // [TEMP] Workaround for same page search results not closing modal
  function fixSamePageSearch() {
    const modal = document.querySelector('pagefind-modal') as HTMLDialogElement;
    if (!modal) return;

    window.addEventListener('hashchange', () => modal.close());
  }
  fixSamePageSearch();
</script>

<style>
  :root {
    /* Pagefind customizations */
    --pf-font: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --pf-text: var(--color-text-bright);
    --pf-text-secondary: var(--color-text);
    --pf-text-muted: var(--color-text-muted);
    --pf-background: var(--color-background);
    --pf-border: var(--color-border);
    --pf-border-focus: var(--color-link);
    --pf-skeleton: var(--color-background);
    --pf-skeleton-shine: var(--color-background-alt);
    --pf-hover: var(--color-background-alt);
    --pf-mark: var(--color-text-bright);
    --pf-outline-focus: var(--color-link-hover);
    --pf-scroll-shadow: var(--color-text);
    --pf-shadow-lg: 0 16px 48px rgba(0, 0, 0, 0.5);

    --pf-error-bg: var(--color-background);
    --pf-error-border: var(--color-error);
    --pf-error-text: var(--color-error);
    --pf-error-text-secondary: var(--color-text)/90;

    --pf-shadow-lg: var(--shadow);
    --pf-modal-backdrop: var(--backdrop);
    --pf-icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='black' d='M5 10a5 5 0 1 1 10 0a5 5 0 0 1-10 0m5-7a7 7 0 1 0 4.192 12.606l5.1 5.101a1 1 0 0 0 1.415-1.414l-5.1-5.1A7 7 0 0 0 10 3'/%3E%3C/g%3E%3C/svg%3E");
  }

  /* 
  * !important to override :is(*, #\# ) ID-selector specificity hack from pagefind
  * The #\# is an escaped # character, creating an invalid-but-harmless ID
  * selector that never matches, but still contributes specificity via :is(). 
  */

  @media (max-width: 640px) {
    /* [TEMP] :global fix as it can't seem to work otherwise */
    pagefind-modal :global(dialog.pf-modal) {
      width: 100% !important;
      overscroll-behavior: contain !important;
    }
  }

  :global(pagefind-modal-trigger) {
    flex-grow: 1 !important;
  }

  pagefind-modal-header {
    --pf-hover: var(--color-background) !important;
    padding: 0.5rem 1rem !important;

    .pf-input-wrapper::before {
      left: 0.5rem !important;
      width: 1rem !important;
      height: 1rem !important;
    }

    /* Search input focus styles */
    search input:focus-visible,
    search input:focus {
      outline: 4px solid var(--color-background) !important;
      outline-offset: -1px !important;
    }

    :has(search input:focus-visible) .pf-input-wrapper::before,
    :has(search input:focus-visible) .pf-searchbox-input-wrapper::before {
      --pf-text-muted: var(--color-link) !important;
    }

    &:has(search input:focus) {
      border-bottom: 1px solid var(--color-link) !important;
    }

    /* Modal close button styles */
    .pf-modal-close:hover {
      color: var(--color-error) !important;
    }
  }

  pagefind-modal-body {
    /* No scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    div.pf-result-card:has(.pf-result-link:focus-visible) {
      background-color: var(--color-background-alt) !important;
    }
  }
</style>
