---
import { docsMap, getDirectoryPath } from '@utils/navigation';
import SidebarPanel from '@components/SidebarPanel.astro';
console.log('pathname: ', Astro.url.pathname);

// state is false if pathname starts with the directory
// state is true if pathname is the directory
// state is undefined otherwise
const state = (directory: string) => {
  const pathname = getDirectoryPath(Astro.url.pathname);
  if (pathname.startsWith(directory)) {
    return pathname === directory ? true : false;
  }
  return undefined;
};
---

<aside id="sidebar" class="">
  <nav aria-label="Docs navigation">
    {
      Object.entries(docsMap).map(([directory, categories]) => (
        <SidebarPanel directory={directory} categories={categories} state={state(directory)} />
      ))
    }
  </nav>
</aside>
