---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const filteredHeadings = headings.filter((heading) => heading.depth == 2 || heading.depth == 3);
---

{
  filteredHeadings.length > 0 && (
    <details
      id="toc"
      class="bg-background fixed top-14 right-0 left-0 z-19 flex flex-col border-b pt-1 md:top-0 md:left-(--sidebar-width) xl:left-[calc(100vw-var(--sidebar-width))]"
    >
      <summary class="flex list-none items-center pb-1 text-xs font-bold max-xl:px-6 [&::-webkit-details-marker]:hidden">
        <a
          href="#"
          class="after:svg-arrow relative h-4 whitespace-nowrap after:h-4 after:w-4 after:transition-transform"
        >
          On this page
        </a>
        <span id="current-heading" class="scrollable-text-x ml-4" />
      </summary>
      <ul
        id="toc-list"
        class="border-background-alt max-h-[calc(80vh-6rem)] overflow-y-auto border-t text-sm max-xl:shadow-lg xl:max-h-[calc(100vh-1.5rem)]"
      >
        {filteredHeadings.map((heading) => (
          <li class="hover:bg-background-alt border-background-alt flex border-t px-6">
            <a
              href={`#${heading.slug}`}
              class="text-text dark:text-text-muted aria-current:text-link w-full py-1"
              style={`padding-left: ${heading.depth - 2}rem;`}
            >
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </details>
  )
}

<script>
  const details = document.getElementById('toc') as HTMLDetailsElement;

  if (details) {
    const title = document.querySelector('article h1')?.textContent;
    const links = document.querySelectorAll('#toc-list a') as NodeListOf<HTMLAnchorElement>;
    const headings = document.querySelectorAll('article h2, article h3') as NodeListOf<HTMLHeadingElement>;
    const currentHeading = document.getElementById('current-heading') as HTMLSpanElement;
    let scrollToHashMutex = false; // Flag to prevent observer interference

    /* top | left and right | bottom */
    const observerOptions = {
      rootMargin: '0px 0px 0px',
      threshold: 1,
      delay: 200,
    };

    const updateActiveLink = (targetId: string, targetText: string) => {
      links.forEach((link) => {
        if (link.getAttribute('href') === `#${targetId}`) {
          if (details.hasAttribute('open')) {
            // Scroll the active link into view if the TOC is open
            link.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'nearest' });
          }
          link.setAttribute('aria-current', 'true');
        } else {
          link.removeAttribute('aria-current');
        }
      });
      currentHeading.textContent = targetText;
    };

    const observer = new IntersectionObserver((entries: IntersectionObserverEntry[]) => {
      // Skip observer logic if the user clicked a hash link and the page is scrolling
      if (scrollToHashMutex) return;

      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          updateActiveLink(entry.target.id, entry.target.textContent);
        }
      });
    }, observerOptions);

    headings.forEach((heading) => {
      observer.observe(heading);
    });

    const handleHashSync = () => {
      const currentHash = window.location.hash.replace('#', ''); // e.g., "#about"

      scrollToHashMutex = true;
      updateActiveLink(
        currentHash,
        currentHash ? document.querySelector(`article #${currentHash}`)?.textContent || '' : title || ''
      );

      // prettier-ignore
      if ('onscrollend' in window) {
      // If the browser supports the scrollend event, we can use it to reset the mutex
      window.addEventListener( 'scrollend', () => { scrollToHashMutex = false; }, { once: true } );
    } else {
      // Fallback for browsers that don't support scrollend
      setTimeout(() => { scrollToHashMutex = false; }, 1000);
    }
    };

    window.addEventListener('hashchange', handleHashSync);
    window.addEventListener('DOMContentLoaded', handleHashSync);

    // Other QOL: Click to close and update text content based on screen size
    function handleClickOutside(event: MouseEvent) {
      if (!details.hasAttribute('open')) return;
      const isSummary = event.target instanceof Element && event.target.closest('summary');
      if (isSummary) return;
      details.removeAttribute('open');
    }

    function updateTextContent() {
      const tocGoToTop = document.querySelector('#toc summary a') as HTMLAnchorElement;
      if (window.innerWidth >= 1280) {
        // tailwind "xl:" breakpoint
        tocGoToTop.textContent = '';
        window.removeEventListener('click', handleClickOutside);
      } else {
        tocGoToTop.textContent = 'On this page';
        window.addEventListener('click', handleClickOutside);
      }
    }

    window.addEventListener('resize', () => {
      updateTextContent();
    });
    updateTextContent();
  }
</script>

<style is:global>
  /* prettier-ignore */
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 6rem;
  }

  /* tailwind "md:" :has(#toc) article */
  @media (max-width: 768px) {
    body:has(#toc) article {
      margin-top: 2rem;
    }
  }
</style>

<style>
  details[open] summary a::after {
    transform: rotate(90deg);
  }

  #toc-list li:has(a[aria-current='true']) {
    border-left: 3px solid var(--color-link);
    padding-left: calc(1.5rem - 3px);
  }
</style>
